
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout_LMS.cshtml";
}

<style type="text/css">
    .highlight {
        color: red;
    }

        .highlight input {
            color: red;
        }

    header, footer {
        display: none;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
    }
</style>
<div class="row">
    <div class="col-md-1 col-md-1">

    </div>
    <div class="col-md-10 col-md-10">
        <div class="panel">
            <div class="panel-heading" style="border: 1px solid red; ">
                <div class="row">
                    <div class="col-xs-12  text-center">
                        <img src="~/Content/assets/img/home/status-warning-icon-png-29.png" style="width: 22%;">
                    </div>
                    <h3 class="col-xs-12 text-center">
                        <h3">You do not have Account TMS or Permission to access this page, please contact administrator</h3>
                    <div class="col-xs-12 text-center">
                        <a onclick="goBack()" class="btn btn-large btn-danger"><i class="icon-home icon-white"></i> BACK HOME</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











