Thân gửi Các bạn học viên,<br />
<i><font color="#0079ff">Dear Learners,</font></i><br />
<br />
Xin gửi lời chào từ Học viện Hàng không Vietjet,<br />
<i><font color="#0079ff">Greetings from Vietjet Aviation Academy,</font></i><br />
<br />
Chúng tôi trân trọng thông báo bạn vừa được nhận một tài khoản học trực tuyến trên hệ thống của chúng tôi. Bạn có thể sử dụng trình duyệt Firefox hoặc Google Chrome để truy cập lịch đào tạo, và các khóa đào tạo trực tuyến qua http://lms.vietjetair.com<br />
<i><font color="#0079ff">This is our great honor to inform you that you have an account on our E-learning system. You can via Firefox or Google Chrome access your training schedule and e-learning courses via http://lms.vietjetair.com .</font></i><br />
<br />
Để đăng nhập/ <i><font color="#0079ff">To login:</font></i><br />
+ Tên người dùng/ <i><font color="#0079ff">Username:</font></i> MAIL_TRAINEE_USERNAME <br />
+ Mật khẩu/ <i><font color="#0079ff">Password:</font></i> MAIL_TRAINEE_PASSWORD<br />
<br />
Lưu ý bạn nên thay đổi mật khẩu ngay trước khi bắt đầu học.<br />
<i><font color="#0079ff">Note that you should change the password immediately before starting to learn.</font></i><br />
<br />
Bạn có thể tham khảo bảng Hướng dẫn sử dụng trên hệ thống để biết thêm hướng dẫn.<br />
<i><font color="#0079ff">You can refer to the User Manual from menu bar for more instructions.</font></i><br />
<br />
Vui lòng liên hệ Học viện Hàng không Vietjet nếu bạn cần hỗ trợ:<br />
<i><font color="#0079ff">Please contact Vietjet Aviation Academy for support if you have any queries:</font></i><br />
<br />
Học viện Hàng không Vietjet - <i><font color="#0079ff">Vietjet Aviation Academy </font></i><br />
Email: learnersworld@vietjetair.com | Tel: 84-28-71062668<br />
<br />
Chúc bạn học thật tốt!<br />
<i><font color="#0079ff">Happy learning!</font></i><br />
<br />
<b>Vietjet Aviation Academy</b><br />
