Dear {0},<br /><br />
Greetings from Training Center.<br/>
<br />
This is our great honor to inform you that you have an account on our E-learning system. Please login to the link to access your training schedule and e-learning courses: http://clever.tinhvan.com:85/lmsbsr/ .<br/>
<br />
To login:<br />
+ Username:{1} <br />
+ Password: {2}<br/>

Note that you should change the password immediately before starting to learn.<br/>
<br />
You can refer to the User Manual for more instructions. 
<br />
<br />
Please contact TinhVan Training Center for support if you have any queries: 
<br />
<br />
TinhVan Training Center | Email: learnersworld@TinhVan.com | Tel: 84-8-3 547 4395 Ext 400 .<br/>
<br />
Happy learning!<br />

<b>Training Center</b><br />
