Thân gửi Các bạn học viên,<br />
<i><font color="#0079ff">Dear Learners,</font></i><br />
<br />

Xin lưu ý, bạn đã được ghi danh vào khoá học “{0}”, nhưng đến nay bạn vẫn chưa hoàn tất việc học. Khoá học sẽ hết hạn vào ngày {1}, bạn truy cập vào khoá đào tạo tại http:// lms.vietjetair.com<br />
<i><font color="#0079ff">This is a gentle reminder. You have been enrolled in “{0}”, but you have not completed yet, the course is due to expire on {1}. You can access the training via http:// lms.vietjetair.com</font></i><br />
<br />
Vui lòng liên hệ Học viện Hàng không Vietjet nếu bạn cần hỗ trợ:<br />
<i><font color="#0079ff">Please contact Vietjet Aviation Academy for support if you have any queries:</font></i><br />
<br />
Học viện Hàng không Vietjet - <i><font color="#0079ff">Vietjet Aviation Academy</font></i> <br />
Email: learnersworld@vietjetair.com | Tel: 84-28-71062668<br />
<br />
Xin cảm ơn.<br />
<i><font color="#0079ff">Thank you for your attention.</font></i><br />
<br />
Chúc bạn học thật tốt!<br />
<i><font color="#0079ff">Happy learning!</font></i><br />
<br />
Vietjet Aviation Academy <br />
<br />
<br />
