Thân gửi Các bạn học viên,<br />
<i><font color="#0079ff">Dear Learners,</font></i><br />
<br />

Xin gửi lời chào từ Học viện Hàng không Vietjet<br />
<i><font color="#0079ff">Greetings from Vietjet Aviation Academy</font></i><br />
<br />
Chúng tôi trân trọng thông báo bạn được ghi danh vào khoá học  <b><font color="red">“{0}” ({1})</font></b>  <br />
<i><font color="#0079ff">This is our great honor to inform you that you have been enrolled to <b>“{0}” ({1}) course.</b></font></i>  <br />
<br />
<table border="1">
    <thead>
        <tr role="row">
            <th>No.</th>
            <th>Subject Name</th>
            <th style="width:auto">Time</th>
            <th>Room</th>
            <th>Method</th>
            <th>Instructor</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {2}
    </tbody>
</table>
<br />
eL: e-Learning. <br /> cR: Class Room Learning. <br /> cRo: Class Room And Online.
<br />
* Lưu ý: vui lòng liên hệ nhân viên lễ tân để cập nhật thông tin phòng học khi tham gia khoá học.<br />
<i><font color="#0079ff">* Note: Please refer to the receptionist to update the training room as the training room might be subject to change.</font></i><br />
<br />
Bạn có thể sử dụng trình duyệt Firefox hoặc Google Chrome để truy cập lịch đào tạo, và các khóa đào tạo trực tuyến qua http://lms.vietjetair.com <br />
<i><font color="#0079ff">You can via Firefox or Google Chrome access your training schedule and e-learning courses via http://lms.vietjetair.com</font></i> <br />
<br />
Để đăng nhập/ <i><font color="#0079ff">To login:</font></i><br />
+ Tên tài khoản/ <i><font color="#0079ff">Username:</font></i> {3} <br />
+ Mật khẩu/ <i><font color="#0079ff">Password:</font></i> (your password). <br />
<br />
Khi bạn quên mật khẩu, hãy sử dụng chức năng quên mật khẩu để đăng ký lại mật khẩu mới.<br />
<i><font color="#0079ff">If you forget your password, please use password request function. </font></i><br />
<br />

<!--If you need any help, click link for demonstration https://www.youtube.com/watch?v=hqgxOQ0pVeE&feature=youtu.be
<br/>
<br/>-->
Vui lòng liên hệ Học viện Hàng không Vietjet nếu bạn cần hỗ trợ:<br />
<i><font color="#0079ff">Please contact Vietjet Aviation Academy for support if you have any queries:</font></i><br />
<br />
Học viện Hàng không Vietjet - <i><font color="#0079ff">Vietjet Aviation Academy</font></i> <br />
Email: learnersworld@vietjetair.com | Tel: 84-28-71062668<br />
<br />
Chúc bạn học thật tốt!<br />
<i><font color="#0079ff">Happy learning!</font></i><br />
<br />
Vietjet Aviation Academy <br />
<br />
<br />

