Dear Learners,
<br />
<br />
Greetings from Vietjet Training Center.
<br />
<br />
This is our great honor to inform you that you have an account on our Training system. Please login to the link to access: https://tms.vietjetair.com
<br />
<br />
To login:
<br />
+ Username:{0}
<br />
+ Password: {1}
<br />

Note that you should change the password immediately before starting to learn.
<br />
<br />
You can refer to the User Manual for more instructions.
<br />
<br />
Please contact Vietjet Training Center for support if you have any queries:
<br />
<br />
Vietjet Training Center | Email: learnersworld@vietjetair.com
<br />

<b>Vietjet Training Center</b>
<br />
