Thân gửi Anh/ Chị Giáo viên,<br />
<i><font color="#4367C3">Dear honoured Instructor,</font></i><br />
<br />
Xin gửi lời chào từ Học viện Hàng không Vietjet.<br />
<i><font color="#4367C3">Greetings from Vietjet Aviation Academy.</font></i><br />
<br />
Trân trọng kính mời Anh/ Chị tham gia giảng dạy khoá học <b><font color="red"> "MAIL_PROGRAM_NAME" (MAIL_PROGRAM_CODE) </font></b>, cụ thể như sau:<br />
<i><font color="#4367C3">We would like to invite you to participate in conducting <b><font color="red"> "MAIL_PROGRAM_NAME" (MAIL_PROGRAM_CODE) </font></b> training course, details as follows:</font></i><br />
<br />
MAIL_LIST_COURSE
<br />
eL: e-Learning. <br /> cR: Class Room Learning. <br /> cRo: Class Room And Online. <br />
<br />
Anh/ Chị có thể truy cập lịch đào tạo qua http://lms.vietjetair.com.<br />
<i><font color="#4367C3">You can access your training schedule via http://lms.vietjetair.com.</font></i><br />
<br />
Để đăng nhập/ <i><font color="#4367C3">To login:</font></i><br />
+ Tên tài khoản/ <i><font color="#4367C3">Username:</font></i> MAIL_TRAINEE_USERNAME <br />
+ Mật khẩu/ <i><font color="#4367C3">Password:</font></i> (Please refer to the previous username and password email). <br />
<br />
Khi Anh/ Chị quên mật khẩu, hãy sử dụng chức năng quên mật khẩu để đăng ký lại mật khẩu mới.<br />
<i><font color="#4367C3">If you forget your password, please use password request function.</font></i><br />
<br />

Vui lòng liên hệ Học viện Hàng không Vietjet nếu cần hỗ trợ.<br />
<i><font color="#4367C3">Please contact Vietjet Aviation Academy for support if you have any queries.</font></i><br />
<br />
Chúc Anh/ Chị dạy thật tốt!<br />
<i><font color="#4367C3">Happy training!</font></i><br />
<br />

Học viện Hàng không Vietjet - <i><font color="#0079ff">Vietjet Aviation Academy </font></i><br />
Email: learnersworld@vietjetair.com | Tel: 84-28-71062668<br />
<br />
<br />

