Thân gửi Anh/ Chị Giáo viên,<br />
<i><font color="#4367C3">Dear honoured Instructor,</font></i><br />
<br />
Xin gửi lời chào từ Trung tâm Đào tạo Vietjet.<br />
<i><font color="#4367C3">Greetings from Vietjet Training Center.</font></i><br />
<br />
Trân trọng kính mời Anh/ Chị tham gia giảng dạy khoá học <b><font color="red">“{0}” ({1})</font></b>, cụ thể như sau:<br />
<i><font color="#4367C3">We would like to invite you to participate in conducting <b><font color="red">“{0}” ({1})</font></b> training course, details as follows:</font></i><br />
<br />
<table border="1">
    <thead>
        <tr role="row">
            <th>No.</th>
            <th>Subject Name</th>
            <th style="width:auto">Time</th>
            <th>Room</th>
            <th>Method</th>
            <th>Instructor</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        {2}
    </tbody>
</table>
<br />
eL: e-Learning. <br /> cR: Class Room Learning. <br /> cRo: Class Room And Online. <br />
<br />
Anh/ Chị có thể truy cập lịch đào tạo qua http://lms.vietjetair.com.<br />
<i><font color="#4367C3">You can access your training schedule via http://lms.vietjetair.com.</font></i><br />
<br />
Để đăng nhập/ <i><font color="#4367C3">To login:</font></i><br />
+ Tên tài khoản/ <i><font color="#4367C3">Username:</font></i> {3} <br />
+ Mật khẩu/ <i><font color="#4367C3">Password:</font></i> (Please refer to the previous username and password email). <br />
<br />
Khi Anh/ Chị quên mật khẩu, hãy sử dụng chức năng quên mật khẩu để đăng ký lại mật khẩu mới.<br />
<i><font color="#4367C3">If you forget your password, please use password request function.</font></i><br />
<br />

Vui lòng liên hệ Trung tâm Đào tạo Vietjet nếu cần hỗ trợ.<br />
<i><font color="#4367C3">Please contact Vietjet Training Center for support if you have any queries.</font></i><br />
<br />
Chúc Anh/ Chị dạy thật tốt!<br />
<i><font color="#4367C3">Happy training!</font></i><br />
<br />

Trung tâm Đào tạo Vietjet - <i><font color="#4367C3">Vietjet Training Center</font></i> <br />
Email: learnersworld@vietjetair.com | Tel: 84-8-3 547 4395 Ext 400<br />
<br />
<br />

