<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISiteView" />
                <binding name="BasicHttpBinding_IAppView" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.vietjetair.com/Services/SiteView.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiteView"
                contract="VietjetAPI_SiteView.ISiteView" name="BasicHttpBinding_ISiteView" />
            <endpoint address="http://api.vietjetair.com/Services/AppView.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppView"
                contract="VietjetAPI_AppView.IAppView" name="BasicHttpBinding_IAppView" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
